body {
  margin: 0;
  padding: 0;
  float: left;
  font-family: "Arimo", sans-serif;
  width: 100%;
  background-color: white;
}

@font-face {
	font-family: Valentine;
	src: url("resources/fonts/Valentine_Love.ttf");
}